{% extends "base.html" %}
{% load static %}
{% block title %} My Home Page {% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static 'Faculty/style.css' %}">
  <div class="container">
    <div class="faculty-group">
      <h2 class="section-title">Piano Faculty</h2>
      <div class="card-group">
        <div class="card">
          <div class="imgBx" style="--img:url('img1.jpg');"></div>
          <div class="content">
            <h3>New Design<br><span>2 hours ago</span></h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias quae quos nostrum fuga deleniti vitae?</p>
          </div>
        </div>
        <div class="card">
          <div class="imgBx" style="--img:url('img2.jpg');"></div>
          <div class="content">
            <h3>CSS Only<br><span>3 hours ago</span></h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias quae quos nostrum fuga deleniti vitae?</p>
          </div>
        </div>
        <div class="card">
          <div class="imgBx" style="--img:url('img3.jpg');"></div>
          <div class="content">
            <h3>Amazing Cards<br><span>5 hours ago</span></h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias quae quos nostrum fuga deleniti vitae?</p>
          </div>
        </div>
        <div class="card">
          <div class="imgBx" style="--img:url('img4.jpg');"></div>
          <div class="content">
            <h3>Interactive UI<br><span>6 hours ago</span></h3>
            <p>Praesentium sapiente nihil culpa cum tenetur distinctio delectus ad illo!</p>
          </div>
        </div>
        <div class="card">
          <div class="imgBx" style="--img:url('img5.jpg');"></div>
          <div class="content">
            <h3>Creative Blocks<br><span>1 day ago</span></h3>
            <p>Modi, saepe nobis. Fugit ad reprehenderit laborum nesciunt!</p>
          </div>
        </div>
        <div class="card">
          <div class="imgBx" style="--img:url('img15.jpg');"></div>
          <div class="content">
            <h3>Piano Mastery<br><span>2 days ago</span></h3>
            <p>Dolorum architecto similique eligendi molestias obcaecati tempora aperiam officia.</p>
          </div>
        </div>
        <div class="card">
          <div class="imgBx" style="--img:url('img17.jpg');"></div>
          <div class="content">
            <h3>Key Dynamics<br><span>3 days ago</span></h3>
            <p>Reiciendis molestias tempora ea sed pariatur dolor placeat asperiores.</p>
          </div>
        </div>
        <div class="card">
          <div class="imgBx" style="--img:url('img18.jpg');"></div>
          <div class="content">
            <h3>Pedal Precision<br><span>4 days ago</span></h3>
            <p>Alias tenetur magnam nemo inventore optio explicabo, consequatur ducimus.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="faculty-group">
      <h2 class="section-title">Guitar Faculty</h2>
      <div class="card-group">
        <div class="card">
          <div class="imgBx" style="--img:url('img6.jpg');"></div>
          <div class="content">
            <h3>Simple Effects<br><span>2 days ago</span></h3>
            <p>Eius optio voluptates quae quas iusto officiis rerum, amet iste!</p>
          </div>
        </div>
        <div class="card">
          <div class="imgBx" style="--img:url('img7.jpg');"></div>
          <div class="content">
            <h3>Responsive Design<br><span>2 days ago</span></h3>
            <p>Consequatur vero illum provident reprehenderit eveniet, minus quaerat saepe.</p>
          </div>
        </div>
        <div class="card">
          <div class="imgBx" style="--img:url('img8.jpg');"></div>
          <div class="content">
            <h3>Modern Web<br><span>3 days ago</span></h3>
            <p>Laborum molestias minus explicabo adipisci deleniti nostrum id quibusdam.</p>
          </div>
        </div>
        <div class="card">
          <div class="imgBx" style="--img:url('img9.jpg');"></div>
          <div class="content">
            <h3>Flexbox Magic<br><span>4 days ago</span></h3>
            <p>Aliquam assumenda, perferendis voluptatibus magni laudantium culpa quas!</p>
          </div>
        </div>
        <div class="card">
          <div class="imgBx" style="--img:url('img10.jpg');"></div>
          <div class="content">
            <h3>CSS Tricks<br><span>5 days ago</span></h3>
            <p>Vitae sunt reprehenderit, sapiente quaerat cum. Similique, eos!</p>
          </div>
        </div>
        <div class="card">
          <div class="imgBx" style="--img:url('img16.jpg');"></div>
          <div class="content">
            <h3>Strum Skills<br><span>4 days ago</span></h3>
            <p>Quasi laborum consequatur hic sequi perferendis, totam quae distinctio?</p>
          </div>
        </div>
        <div class="card">
          <div class="imgBx" style="--img:url('img19.jpg');"></div>
          <div class="content">
            <h3>Chord Craftsman<br><span>5 days ago</span></h3>
            <p>Facilis architecto excepturi perferendis reiciendis incidunt optio quae dolorum.</p>
          </div>
        </div>
        <div class="card">
          <div class="imgBx" style="--img:url('img20.jpg');"></div>
          <div class="content">
            <h3>Fingerstyle Flow<br><span>6 days ago</span></h3>
            <p>Totam quidem explicabo molestias, fuga molestiae officiis nulla dolore?</p>
          </div>
        </div>
      </div>
    </div>
    <div class="faculty-group">
      <h2 class="section-title">Violin Faculty</h2>
      <div class="card-group">
        <div class="card">
          <div class="imgBx" style="--img:url('img11.jpg');"></div>
          <div class="content">
            <h3>Grid and Flex<br><span>6 days ago</span></h3>
            <p>Quibusdam officiis odio quo harum amet expedita iste repellendus?</p>
          </div>
        </div>
        <div class="card">
          <div class="imgBx" style="--img:url('img12.jpg');"></div>
          <div class="content">
            <h3>UI Patterns<br><span>1 week ago</span></h3>
            <p>Laudantium voluptate reiciendis doloribus placeat ea molestiae fugit.</p>
          </div>
        </div>
        <div class="card">
          <div class="imgBx" style="--img:url('img13.jpg');"></div>
          <div class="content">
            <h3>Melodic Flow<br><span>8 days ago</span></h3>
            <p>Voluptatem animi officiis temporibus modi laborum architecto minus laboriosam.</p>
          </div>
        </div>
        <div class="card">
          <div class="imgBx" style="--img:url('img14.jpg');"></div>
          <div class="content">
            <h3>Harmony Styles<br><span>9 days ago</span></h3>
            <p>Minima unde dolorem, beatae quidem nulla repellendus quibusdam recusandae.</p>
          </div>
        </div>
        <div class="card">
          <div class="imgBx" style="--img:url('img21.jpg');"></div>
          <div class="content">
            <h3>String Harmony<br><span>10 days ago</span></h3>
            <p>Provident dolorum saepe beatae ullam quas incidunt est assumenda.</p>
          </div>
        </div>
        <div class="card">
          <div class="imgBx" style="--img:url('img22.jpg');"></div>
          <div class="content">
            <h3>Concert Craft<br><span>11 days ago</span></h3>
            <p>Quod repellat sapiente pariatur, labore perferendis at explicabo nostrum.</p>
          </div>
        </div>
        <div class="card">
          <div class="imgBx" style="--img:url('img23.jpg');"></div>
          <div class="content">
            <h3>Solo Strings<br><span>12 days ago</span></h3>
            <p>Dolorem itaque mollitia illum, minima asperiores rerum voluptates corporis.</p>
          </div>
        </div>
        <div class="card">
          <div class="imgBx" style="--img:url('img24.jpg');"></div>
          <div class="content">
            <h3>Violin Virtuoso<br><span>13 days ago</span></h3>
            <p>Expedita excepturi, nobis eaque eveniet quibusdam quia facilis ipsam.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}