{% extends "base.html" %}
{% load static %}
{% block title %} My Home Page {% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static 'HomePage/style.css' %}">
<script src="{% static 'HomePage/script.js' %}" defer></script>
 <div class="banner" data-text="&#32; &#32; &#32; &#32; &#32; &#32; We are &#xa; &#xa; Southern Park"></div>

  <section class="scroll-section">
    <div class="about-us-container">
      <div class="about-text">
        <h2 class="scroll-heading">Charlotte's Premier Music School</h2>
        <p>
          Southern Park Music School is a community music school, offering music instruction to students of all ages and experience since 1964.
          Our goal at Southern Park Music School is to help people become musically literate. Music literacy involves the ability to read and
          write music, and the ability to understand, perform, and create music.
        </p>
      </div>

      <div class="slider-wrapper">
        {% with base_path='HomePage/images/' %}
        <div class="box">
          {% for i in "1234567" %}
            {% include "imagescript.html" with image_num=i %}
          {% endfor %}
        </div>
        {% endwith %}
        <div class="buttons">
          <span class="prev">←</span>
          <span class="next">→</span>
        </div>
      </div>
    </div>
  </section>

  

{% endblock %}